# Rejuvena.Collate file caches and other "hidden" files
.collate/

# Ensure .targets file isn't hidden.
!src/Rejuvena.Collate.MSBuild/build/Rejuvena.Collate.MSBuild.targets

# Local NuGet
NugetLocal/

# Personal local testing script.
publish_local.sh

bin/
obj/
.vs/
.vscode/
